.item {
    width: 300px;
    text-align: center;
    padding: 20px 10px;
    margin: 10px;
    background: #ffffff73;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    position: relative;
}

.item h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.item .icon {
    width: 50px;
}

@media (max-width: 1250px) {
    .item {
        width: 250px;
    }
}

@media (max-width: 1250px) {
    .item {
        margin: 10px;
    }
}