.block {
    background: #f9f9f9;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}


.link {
    color: #fff;
    background: #fd4766;
    display: inline-block;
    padding: 16px 40px;
    border-radius: 40px;
    text-decoration: none;
    margin: 40px auto 0 ;
    font-size: 16px;
    font-weight: 700;
}