.item {
    width: 400px;
    height: 500px;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    z-index: 1;
    transition: transform .28s ease;
}

.item:before {
    z-index: 2;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.item:hover {
    transform: scale(1.08) translateZ(0);
}

.item:hover:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(253, 71, 102, 0.6));
}

/*.item:hover .link {*/
/*    background: #FD4766;*/
/*}*/

.transparentLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.itemInfo {
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.item h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}

.imageWrapper {
    width: 100%;
    height: 200px;
    background: gray;
}

.description {
    margin-bottom: 20px;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    border-radius: 4px;
}


@media (max-width: 991px) {
    .item {
        margin-bottom: 20px;
    }
}


@media (max-width: 500px) {
    .item {
        width: 320px;
    }
}