.block {
    background: #000;
    padding-top: 60px;
    padding-bottom: 100px;
}

.block h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.flexWrapper ul {
    display: flex;
    width: 800px;
    justify-content: space-around;
    margin: 0 auto;
    list-style-type: none;
}

.flexWrapper ul a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    transition: color 0.2s;
}

.flexWrapper ul a:hover {
    color: #fd4766;
}

@media (max-width: 991px) {
    .flexWrapper {
        width: 90%;
        flex-wrap: wrap;
    }

    .contactItem {
        margin: 10px;
    }
}